<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>MadLibs!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
  <h1>Fill in the boxes appropriately:</h1>
  <a href="/FormPuppy">Click here for a story about a puppy!</a>
  <form action="/madlib" method="post">
    <label for="recipient">A location</label>
    <input id="location" name="location" type="text">
    <label for="tool">A tool</label>
    <input id="tool" name="tool" type="text">
    <label for="pastVerb">A past tense verb</label>
    <input id="pastVerb" name="pastVerb" type="text">
    <label for="profession">A profession</label>
    <input id="profession" name="profession" type="text">
    <label for="pastVerb2">Another past tense verb</label>
    <input id="pastVerb2" name="pastVerb2" type="text">
    <label for="adjective">An adjective</label>
    <input id="adjective" name="adjective" type="text">
    <label for="creature">A creature</label>
    <input id="creature" name="Creature" type="text">
    <label for="pastVerb3">Yet another past tense verb</label>
    <input id="pastVerb3" name="pastVerb3" type="text">
    <button type="submit">Go!</button>
  </form>
  </div>
</body>

</html>