<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Subtraction!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
  <h1>Enter two numbers to Subtract:</h1>
  @* <a href="/FormPuppy">Click here for a story about a puppy!</a> *@
  <form action="/sub" method="post">
    <label for="sub1">First Number</label>
    <input id="sub1" name="sub1" type="number" step="0.01">
    <label for="sub2">Second Number</label>
    <input id="sub2" name="sub2" type="number" step="0.01">

    <button type="submit">Subtract!</button>
  </form>
  </div>
</body>

</html>