<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Calculator!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
  <h1>Let's do Math!</h1>
  <form action="/form-add" method="post">
    <button type="submit">Add Numbers!</button>
  </form>
  <form action="/form-sub" method="post">
    <button type="submit">Subtract Numbers!</button>
  </form>
  </div>
</body>

</html>